//- components/_abilities.pug
include ./_pipFill.pug
.attribute-view
    each ability in ['body', 'mind', 'spirit']
      +pipFill(ability, '[]', 5)
+scss.
  .attribute-view{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }