//- components/_abilities.pug
include ./_pipFill.pug
.attribute-view
  -
    const attributeArray = [
        {attribute: 'body', affectsList: ['underline-speed']},
        {attribute: 'mind', affectsList: ['underline-speed','underline-willpower']},
        {attribute: 'spirit', affectsList: ['underline-willpower']},
    ];
  each attr in attributeArray
    +pipFill(attr.attribute, attr.affectsList, 5, null, false)