//- components/_abilities.pug
include ./_pipFill.pug
.attribute-view
  -
    const attributeArray = [
        {attribute: 'body', affectsList: ['speed']},
        {attribute: 'mind', affectsList: ['speed','willpower']},
        {attribute: 'spirit', affectsList: ['willpower']},
    ];
  each attr in attributeArray
    +pipFill(attr.attribute, attr.affectsList, 5, null)