header(data-i18n-aria-label='info header')#info-header.header.span-all
    +input-label({
        label:'Character Name',
        inputObj:{name:'character name',class:'underlined bigin',type:'text'},
        divObj:{class:'span-all'},
        spanObj:{role:'heading','aria-level':5,class:'bigin'}
    })
    section.info-header-details
        +input-label({
            label:'Fear Name',
            inputObj:{name:'fear',class:'bigin domains',type:'text'},
            divObj:{class:'span-5'},
            spanObj:{role:'heading','aria-level':5,class:'bigin'}
        })
        +input-label({
            label:'Blood Point Maximum',
            inputObj:{name:'blood-max',class:'bigin domains',type:'number'},
            divObj:{class:'span-5'},
            spanObj:{role:'heading','aria-level':5,class:'bigin'}
        })
        +input-label({
            label:'Current Blood Points',
            inputObj:{name:'blood-cur',class:'bigin domains',type:'number'},
            divObj:{class:'span-5'},
            spanObj:{role:'heading','aria-level':5,class:'bigin'}
        })
+scss.
    input.domains.bigin {
        padding-top: 0px !important;
        border: 2px dashed var(--bloodRed);
        height: 100%;
    }
    .info-header-details {
        height: 100%;
    }