header(data-i18n-aria-label='info header')#info-header.header.span-all
    +input-label({
        label:'Character Name',
        inputObj:{name:'character name',class:'underlined bigin',type:'text'},
        divObj:{class:'span-all'},
        spanObj:{role:'heading','aria-level':5,class:'bigin'}
    })
    section.info-header-details
        +input-label({
            label:'Age (Apparent/Actual)',
            inputObj:{name:'age',class:'littlein',type:'text'},
            divObj:{class:'span-5'},
            spanObj:{role:'heading','aria-level':5,class:'littlein'}
        })
        +input-label({
            label:'Height',
            inputObj:{name:'height',class:'littlein',type:'text'},
            divObj:{class:'span-5'},
            spanObj:{role:'heading','aria-level':5,class:'littlein'}
        })
        +input-label({
            label:'Weight',
            inputObj:{name:'weight',class:'littlein',type:'text'},
            divObj:{class:'span-5'},
            spanObj:{role:'heading','aria-level':5,class:'littlein'}
        })
        +input-label({
            label:'Eyes',
            inputObj:{name:'eyes',class:'littlein',type:'text'},
            divObj:{class:'span-5'},
            spanObj:{role:'heading','aria-level':5,class:'littlein'}
        })
        +input-label({
            label:'Skin',
            inputObj:{name:'skin',class:'littlein',type:'text'},
            divObj:{class:'span-5'},
            spanObj:{role:'heading','aria-level':5,class:'littlein'}
        })
        +input-label({
            label:'Hair',
            inputObj:{name:'hair',class:'littlein',type:'text'},
            divObj:{class:'span-5'},
            spanObj:{role:'heading','aria-level':5,class:'littlein'}
        })