section.info-traits
    +labeledAdaptiveText('traits','Merits, Flaws, etc.','')
+scss.
    .info-traits {
        height: 100%;
        section.labeled-adaptive {
            height: 100%;
        }
    }