include ./_labelledTextArea.pug
section.info-holdings.info-row
    +labeledAdaptiveText('convictions','Convictions','')
    +labeledAdaptiveText('touchstones','Touchstones','')
    +labeledAdaptiveText('tenets','Tenets','')
    +labeledAdaptiveTextWithToggle('pride','Pride','')

+scss.
     .info-holdings {
        display:grid;
        gap:var(--half-gap);
        grid-template-columns:repeat(4, 1fr);
        grid-auto-flow: column;
        align-items: start;
        justify-items: center;
        box-sizing: border-box;
        position: relative;
        padding-bottom: 0px;
        margin-bottom: 0px;
     }