mixin pipFill(name, affectsList, maxSize, additiveList, limiterStat)
    - var valuesArray = [];
    - var i = 0;
    while i < maxSize 
        - valuesArray[i] = i + 1;
        - i = i + 1;
    .pips-container 
        h5 #{name}
        +fillLeft({
            radioObj:{name:name},
            divObj:{class:'pip-fill'},
            valueArray:valuesArray,
            trigger:{affects:`${affectsList}`},
            noClear:false
        })

+scss.
    .pips-container {
        justify-items: center;
    }
