mixin pipFill(name, affectsList, maxSize, pFormula)
    - var valuesArray = [];
    - var i = 0;
    while i < maxSize 
        - valuesArray[i] = i + 1;
        - i = i + 1;
    .pips-container 
        h5 #{name}
        +fillLeft({
            radioObj:{name:name,trigger:{affects:affectsList,calculation:'calcNewValue',formula:pFormula}},
            divObj:{class:'pip-fill'},
            valueArray:valuesArray,
            noClear:false
        })
    
+scss.
    .pips-container {
        justify-items: center;
    }
