mixin specific-label(labelName)
    - var focusName = labelName.split('S-')[1]
    +input-label({
        label:focusName.charAt(0).toUpperCase() + focusName.slice(1) + "*",
        inputObj:{name:focusName,type:'text'}
    })