include ./_minMaxInput.pug
.hp-section
    +input-label({
        label:'HP Max',
        inputObj:{name:'hp-max',type:'number'},
        spanObj:{role:'heading','aria-level':5,class:'leftLabel'}
    })
    +input-label({
        label:'Current HP',
        inputObj:{name:'hp-curr',type:'number'},
        spanObj:{role:'heading','aria-level':5,class:'leftLabel'}
    })
    +minMaxInput('Hit Die','hit-die')
    +input-label({
        label:'Regenerate',
        inputObj:{name:'regen',type:'text'},
        spanObj:{role:'heading','aria-level':5,class:'big-leftLabel'}
    })
+scss.
    .hp-section.hp-section.hp-section {
        width: 100%;
        min-width: 0;
        .input-label.input-label.input-label {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        input {
                    color: var(--fontColor);
                    border: 2px dashed var(--borderColor);
                    width: 4em;
                    text-align: center;
                    align-self: right;
                    flex: 0 0 0;
                }

        .double-input.double-input {
            width: 1.5em;
            z-index: 3;
        }
    }
