@use 'k-scaffold' as k;

@mixin all {
  @include k.variables;
  // Customize your variables here
  --bodyColor: rgb(219, 84, 43);
  --mindColor: rgb(79, 76, 238);
  --spiritColor: rgb(247, 243, 22);
  --speedColor: rgb(149, 80, 141);
  --willpowerColor: rgb(111, 204, 58);
  --bodyColorSecondary: rgb(219, 114, 43);
  --mindColorSecondary: rgb(79, 106, 238);
  --spiritColorSecondary: rgb(247, 213, 22);
  --fillLeftUnselectedColor: transparent;
  --fontColor: black;
  --borderColor: rgb(73, 73, 73);

}

@mixin dark {
  @include k.darkMode;
  // Customize your darkmode variable states and styling here.
  --fontColor: white;
  --borderColor: grey;
}