//- views/_abilities.pug
include ../components/_ability.pug
.ability-view
    each ability in ['strength']
      +ability(ability)
+scss.
  .ability-view{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  }