.attribute-view.attribute-view.attribute-view.attribute-view {
    padding-top: 10px;
    position: relative;
    top: -10px;
    display:grid;
    gap:var(--half-gap);
    grid-template-columns:repeat(3,33%);
    width: 100%;
    grid-auto-flow: column;
    align-items: start;
    justify-items: center;

    .fill-left__radio[name="attr_body"] {
      background-color:var(--bodyColor);
    }

    .fill-left__radio[name="attr_mind"] {
      background-color:var(--mindColor);
    }

    .fill-left__radio[name="attr_spirit"] {
      background-color:var(--spiritColor);
    }
}