.attribute-view.attribute-view.attribute-view.attribute-view {
    padding-top: 10px;
    position: relative;
    top: -10px;
    display:grid;
    gap:var(--half-gap);
    grid-template-columns:repeat(3,33%);
    width: 100%;
    grid-auto-flow: column;
    align-items: start;
    justify-items: center;
  }