.pools-view.pools-view.pools-view {
    display:grid;
    gap:var(--half-gap);
    grid-template-columns:repeat(2,50%);
    width: 100%;
    grid-auto-flow: column;
    align-items: start;
    justify-items: center;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;

    .pips-container {
        .fill-left {
            .fill-left__radio {
                height: 1em;
                width: 1em;
                margin-right: 0.20rem;
            }
        }
    }

    .fill-left__radio[name="attr_speed"] {
        background-color:var(--speedColor);
      }
  
      .fill-left__radio[name="attr_willpower"] {
        background-color:var(--willpowerColor);
      }
}